* {
    margin: 0mm;
    padding: 0mm;
}

.swiper {
    width: 428px;
    /* width: 100%; */
    height: 381px;
    background-color: #000000CC;
}

.player_area {
    display: grid;
    grid-template-rows: 50px 50px 110px 1fr;
    grid-template-columns: 220px 1fr;
    grid-template-areas:
        "image table"
        "image team"
        "image player"
        "comment comment";
    width: 100%;
    height: 100%;
    color: #f0f0f0;
    /* background-color: #00ff0080; */
}

.player_img {
    grid-area: image;
    width: 180px;
    height: auto;
    margin: auto;
    background-color: #ffffff;
    border: 3px solid #000000;
}

.table {
    grid-area: table;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

.table_text {
    margin-right: 10px;
    border: 2px solid;
    border-color: transparent transparent red transparent;
}

.team_name {
    grid-area: team;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    margin-right: 10px;
}

.player_name {
    grid-area: player;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 26px;
    margin-right: 10px;
}

.comment {
    grid-area: comment;
    font-family: 'Zen Antique', sans-serif;
    font-size: 20px;
    white-space: pre-wrap;
    margin: 0px 20px;
}
