* {
    margin: 0mm;
    padding: 0mm;
}

.swiper {
    width: 428px;
    height: 381px;
    background-color: #000000CC;
}

.player_area {
    display: grid;
    grid-template-rows: 60px 35px 65px 1fr;
    grid-template-columns: 185px 1fr;
    grid-template-areas:
        "image table"
        "image team"
        "image player"
        "comment comment";
    width: 100%;
    height: 100%;
    color: #ffffff;
}

.player_img {
    grid-area: image;
    width: 140px;
    height: auto;
    margin: auto;
    background-color: #ffffff;
    border: 3px solid #000000;
}

.table {
    grid-area: table;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    display: flex;
    align-items: flex-end;
    justify-content:flex-end;
}

.table_text {
    margin-right: 12px;
    margin-bottom: 10px;
    border: 2px solid;
    border-color: transparent transparent #ff7f7f transparent;
}

.team_name {
    grid-area: team;
    color: #ffc1c1;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    margin-right: 10px;
}

.player_name {
    grid-area: player;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 28px;
    margin-right: 10px;
    white-space: pre-wrap;
}

.comment {
    grid-area: comment;
    width: 380px;
    height: 211px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 26px;
    white-space: pre-wrap;
    margin: 0px 24px;
    margin-bottom: 10px;
}
