* {
    margin: 0mm;
    padding: 0mm;
}

.container {
    display: flex;
    flex-direction: column;
    width:1920px;
    aspect-ratio: 16/9;
    background-image: url(../assets/background.jpg);
}

.title {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 96px;
    color: #cacaca;
    text-shadow:
        1px 0px 5px #000000,
        1px 1px 5px #888888,
        0px 1px 5px #888888,
        -1px 1px 5px #888888,
        -1px 0px 5px #888888,
        -1px -1px 5px #888888,
        0px -1px 5px #ffffff,
        1px -1px 5px #888888;
}

.in_game {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    font-family: 'Mochiy Pop One', sans-serif;
    color: #cacaca;
    text-shadow:
        1px 0px 5px #000000,
        1px 1px 5px #888888,
        0px 1px 5px #888888,
        -1px 1px 5px #888888,
        -1px 0px 5px #888888,
        -1px -1px 5px #888888,
        0px -1px 5px #ffffff,
        1px -1px 5px #888888;
}

.title div:first-child {
    margin-left: 220px;
}

.title div:last-child {
    margin-right: 220px;
}

.title_number {
    font-family: 'Impact', sans-serif;
    color: #222222;
    text-shadow: 0 0 0;
    margin: 0 10px;
}

table {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 25px;
    margin-top: 20px;
}

th:not(:first-child) {
    background-color: #00000080;
    font-size: 46px;
    font-family: 'Impact', sans-serif;
    color: #f0f0f0;
    text-shadow: 2px 2px 2px #22215f;
}

th.width15 {
    width: 15%;
}

th.width20 {
    width: 20%;
}

th.width30 {
    width: 30%;
}

th.width45 {
    width: 45%;
}

td:not(:first-child) {
    background-color: #00000080;
}

td {
    font-size: 96px;
}

td.rank {
    text-align: center;
}

td.score {
    text-align: right;
}

td.point {
    text-align: right;
    font-size: 66px;
    vertical-align: bottom;
    padding-bottom: 14px;
}

img.player_img {
    width: 780px;
    height: 166px;
    vertical-align: bottom;
}

td span.number {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    vertical-align: middle;
    color: #f0f0f0;
    text-shadow: 2px 2px 2px #22215f;
}

td span.mg_r_score {
    margin-right: 40px;
}

td span.mg_r_point {
    margin-right: 100px;
}

button.save_image {
    margin: 20px 20px;
}
