* {
    margin: 0mm;
    padding: 0mm;
}

.container {
    width: 1920px;
    height: 1080px;
    aspect-ratio: 16/9;
    background-image: url(../assets/background.jpg?raw=true);
}

.logo_container {
    text-align: center;
}

.logo {
    width: auto;
    height: 130px;
}

.table_container {
    padding-top: 10px;
}

.header {
    width: 1537px;
    height: 50px;
    background-color: #333333;
    color: #ffffff;
    font-family: 'Impact', sans-serif;
    font-size: 40px;
    margin: 0px auto;
    margin-bottom: 10px;
}

.h_rank {
    margin-left: 60px;
}

.h_team {
    margin-left: 350px;
}

.h_total {
    margin-left: 250px;
}

.h_today {
    margin-left: 140px;
}

.h_diff {
    margin-left: 116px;
}

.body {
    width: 80%;
    height: auto;
    margin: 2px auto;
}

.row {
    position: relative;
    height: 76px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 2px #22215f;
    margin-top: 8px;
}

.team_img {
    position: absolute;
    width: auto;
    height: auto;
}

.before_rank {
    position: absolute;
    width: 3%;
    left: 20px;
    bottom: 4px;
    text-align: center;
    font-size: 38px;
}

.arrow {
    position: absolute;
    display: block;
    width: 36px;
    height: auto;
    left: 82px;
    bottom: 10px;
}

.rank {
    position: absolute;
    width: 5%;
    left: 120px;
    bottom: 0px;
    text-align: center;
    font-size: 48px;
}

.total {
    position: absolute;
    width: 15%;
    left: 810px;
    text-align: right;
    font-size: 50px;
}

.today_point {
    position: absolute;
    width: 15%;
    left: 1022px;
    top: 16px;
    text-align: right;
    font-size: 38px;
    vertical-align: bottom;
}

.diff {
    position: absolute;
    width: 15%;
    left: 1218px;
    top: 16px;
    text-align: right;
    font-size: 38px;
    vertical-align: bottom;
}

button.save_image {
    margin: 20px 20px;
}
